[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "the-essential-apps"]
	path = the-essential-apps
	url = git@github.com:thanks2music/the-essential-apps.git
